type=1
content=晓雅晓雅

block.frm.min=3
block.frm.max=30
block.score.avg=4.2
block.score.min=2.7

# 左静音检查开启
sil.left.check=0

# 左静音检查开启
sil.left.min.time=500
sil.left.offset=35
sil.left.skip=10
sil.left.shield=0.5
sil.right.check=0

#单个字最小发音
word.min.time=80
word.min2.time=60
word.max.time=600

# 默认1000
# min.energy=10000

# 最低得分
min.score=-5.0 

# 大于得分数量
good.score.num=2

# 激活词最大延迟返回时间
max.delay=1500

classify.check=0
classify.shield=-0.04
pholst=xiao ya xiao ya
